n8n ejercicio 1/Notificador de Nuevos Datos.json
{
  "name": "Notificador de Nuevos Datos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/notify",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        0
      ],
      "id": "2c4f3dde-4aa5-4daf-b6b5-fca00f38c8b0",
      "name": "Webhook",
      "webhookId": "e5aa7057-41ce-4f0f-93e3-e7d14242eb01"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5473ec5-eed5-44b0-afaf-d2a57239a784",
              "leftValue": "=  {{ $json.body.email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        0
      ],
      "id": "aaf5971f-917e-4865-8207-9c667e949f41",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "dreewrootsstark@gmail.com",
        "subject": "Nuevos datos recibidos en N8N",
        "message": "=<!DOCTYPE html> <html lang=\"es\"> <head>     <meta charset=\"UTF-8\"> </head> <body style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #ffffff; margin: 0; padding: 20px;\">     <div style=\"max-width: 600px; margin: 0 auto; padding: 30px; border-left: 4px solid #2196F3;\">         <h2 style=\"color: #333333; margin-top: 0;\">Mensaje recibido</h2>         <div style=\"background-color: #f5f5f5; padding: 20px; border-radius: 5px; margin: 20px 0;\">             <p style=\"color: #555555; font-size: 15px; line-height: 1.8; margin: 0; white-space: pre-wrap;\">{{ $('Webhook').item.json.body.mensaje }}</p>         </div>         <p style=\"color: #999999; font-size: 12px; margin-top: 30px;\">             <strong>Fecha:</strong> {{ $now.toFormat('dd/MM/yyyy HH:mm') }}         </p>     </div> </body> </html> 📋 Copiar",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -32,
        -128
      ],
      "id": "fa643ea9-a680-414c-998e-0b3a40acdfc0",
      "name": "Send a message",
      "webhookId": "b78af675-3a96-4501-8a40-ce433aba9ec7",
      "credentials": {
        "gmailOAuth2": {
          "id": "ICff4uay8zVnq1Zy",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ac6d7e80-5009-4019-88fd-9de5ba4cfd00",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2334754f6b82c69a74002c054fba5bcd13c001f0a965ee433a5d02e5f60c3a76"
  },
  "id": "dhYGA1GCqm1XBxwE",
  "tags": []
}